@charset "utf-8";

/* 웹폰트 */
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 전체 글자크기 적용 */
html{
    font-size: 10px;
    /* rem 단위를 위한 계산 편의성 셋팅 + 전체글자크기 제어 */
    background-color: #fff;
}

/* 공사중표시 */
body *{
    /* outline : 1px dashed #444; */
}

/* 기본 초기화 */
html, body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, figure, figcaption
{
    margin: 0 auto;
    padding: 0;
}

/* ul, ol 순번, 블릿 없앰 */
ul, ol {
    list-style: none;
}


/* 공통레이아웃 클래스 */
/* 속박스 */
#inbox{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

/************ 1. 인트로  ******************/
/* 인트로 사진 */
.pt_intro img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

/* 인트로 박스 */
.txt_box {
    display: flex;
    position: absolute;
    color: #333333;
    text-align: center;
    top: 10vh;
    left: 41%;
    font-size: 1.8rem;
    font-family: 'MaruBuri-Regular';
    font-weight: normal;
}
/* 김동훈 박정현 공통 txt */
.txt_box h1{
    padding-bottom: 10px;
}
/* 김동훈 txt */
.txt01{
    padding: 0 35px 0 0;
}
/* 박정현 txt */
.txt02{
    padding: 50px 0 0 35px;
}


/* 세로줄 */
.border_left{
    border-left: 1px solid #848484;
    height: 150px;
    margin-top: 30px;
    
}

/* 날짜시간장소 */
.main_subject{
    position: relative;
    background-color: #f1f1f1;
}
.info {
    /* position: absolute; */
    color: #333333;
    text-align: left;
    top: 25%;
    left: 0%;
    font-size: 2.1rem;
    font-family: 'MaruBuri-Regular';
    font-weight: normal;
    line-height: 1.8;
}



/************ 2. 정보  ******************/
/* 콘텐츠 큰 틀 */
.main_subject {
    padding: 8vh 4vw;
    text-align: left;
}

.main_subject .tit{
    font-size: 3rem;
    font-family: 'MaruBuri-Regular';
    padding-bottom: 20px;
}

.main_subject p{
    font-size: 2rem;
    font-family: 'MaruBuri-Regular';
    line-height: 1.8em;
}

/************ 3. 인사말  ******************/
/* 인사말 큰 틀 */
.greeting {
    position: relative;
    padding: 64vh 4vw;
    text-align: left;
    font-family: 'MaruBuri-Regular';
    font-size: 2rem;
    line-height: 1.8em;
    background: url(../images/photo2_greeting.jpg) no-repeat center/auto 100%;
}
/* 인사말박스 */
.greeting-box{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 4vw 8vh;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
}

.greeting-box::after{
    content: '';
    display: block;
    background-color: #ffffff6c;
}



/* 12 그리드 클래스 : 
        한줄에 합이 12컬럼이 되도록 셋팅 */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
/* 참고: https://www.w3schools.com/css/css_rwd_grid.asp */
