@charset "utf-8";
/* 청첩장 미디어쿼리 CSS - media.css */

/************* 1370px 이하 사이즈 시작 *************/
@media screen and (max-width: 1370px) {
}
/************* 1370px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {

}
 
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
/* 최대 800px 이하 시작 */
@media screen and (max-width: 800px) {

  /* 인트로 글귀 */
.txt_box {
  font-size: 1rem;
  }
  

}
/************* 800px 이하 사이즈 종료 *************/
