@charset "utf-8";
/* 청첩장 미디어쿼리 CSS - media.css */

/************* 1370px 이하 사이즈 시작 *************/
@media screen and (max-width: 1370px) {
}
/************* 1370px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {

}
 
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
/* 최대 800px 이하 시작 */
@media screen and (max-width: 800px) {

.inbox.pt_intro {
    position: relative;
}

/* 인트로 글귀 */
.txt_box {
  position: relative;
  top: -54vh;
  font-size: 1rem;
  transform: translateX(-14px); 
  }
.txt_box h1{
  padding-bottom: 2px;
  }

.info p{
    top: 22%;
    font-size: 1.8rem;
    }

/* 인사말박스 */
.greeting-box{
  left: 0%;
  padding: 10vw 2vh;
}
.greeting-box p{
  font-size: 1.3rem;
  /* letter-spacing: 1px; */
  line-height: 2.3;
}

.add-m{
  display: none;
}
  

}
/************* 800px 이하 사이즈 종료 *************/
